/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/settings';
@import 'base/mixins';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/


/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);     
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


body {
    padding-left: 240px;
}

/*=====================================================================================*/
/*  NAVIGATION STYLES  */ 


.sideNav {
    @include position(fixed, 0, auto, 0, 0);
    width: 240px;
    background-color: chocolate;
    ul {
        list-style-type: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding-top: 195px;
        height: 100%;
        li {
            display: block;
            ul {
                width: 220px;
                padding-top: 195px;
                position: absolute;
                top: 0; bottom: 0;
                -webkit-transition: left 0s, opacity .2s;
                   -moz-transition: left 0s, opacity .2s;
                    -ms-transition: left 0s, opacity .2s;
                     -o-transition: left 0s, opacity .2s;
                        transition: left 0s, opacity .2s;
                &.secondLevel {
                    left: 100%;
                    opacity: 0;
                    top: 100%;
                    background-color: peru;
                     ul.thirdLevel {
                        background-color: wheat;
                        opacity: 0;
                        left: 100%;
                    }
                }
            }

            &:hover {
                ul.secondLevel {
                    top: 0%;
                    opacity: 1;
                }
            }
            ul.secondLevel {
                li:hover {
                    ul.thirdLevel {
                        top: 0%;
                        opacity: 1;
                    }   
                }
            }
        }
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 





/*=====================================================================================*/
/*  STYLES  */ 








