/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/settings';
@import 'base/mixins';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/

@import 'parts/brands';
@import 'parts/related-news';
@import 'parts/your-animal';
@import 'parts/footer';

@import 'parts/page-contatcs';
@import 'parts/contacts-form';

@import 'parts/page-about';

@import 'parts/articles';
@import 'parts/article';

@import 'parts/partnership';

@import 'parts/product';

@import 'parts/page-career';

@import 'parts/page-faq';

@import 'parts/page-team';

@import 'parts/page-products';
/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);     
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


body {
    padding-left: 240px;
     /*.................media.............*/
    @include m1000 {
        padding-left: 0px;
        padding-top: 50px; 
    }
    /*..............end media.............*/
}
h1,
h2 {
    font-size: 36px;
    font-family: $nswb;
}
h2 {
    font-size: 34px; 
}
@include m1000 {
    h1 {
        font-size: 32px; 
    }
    h2 {
        font-size: 30px; 
    }
    p {
        font-size: 20px;
    }
}
@include m500 {
    h1 {
        font-size: 28px; 
    }
    h2 {
        font-size: 26px; 
    }
    p {
        font-size: 18px;
    }
}
@include m360 {
    h1 {
        font-size: 26px; 
    }
    h2 {
        font-size: 24px; 
    }
    p {
        font-size: 18px;
    }
}
/*=====================================================================================*/
/*  NAVIGATION STYLES  */ 


    /*  ---- logo ---  */ 
    .logo {
        @include position(fixed, 0, auto, 0, 0);
        width: 240px;
        height: 150px;
        background-color: #FF5600;
        text-align: center;
        z-index: 3;
        z-index: 1001;
        box-shadow: 0px 10px 18px rgba(0,0,0, .2);
        span {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            color: #FFF;
            font: 40px $nsb;
            text-transform: uppercase;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            height: 100%;
            margin-right: -3px;
            content: '';
        }
        /*.................media.............*/
        @include mh850 {
            height: 120px; 
        }
        @include mh700 {
            height: 100px; 
            span {
                font-size: 28px 
            }
        }
         @include m1000 {
            width: 100%;
            height: 50px;
            span {
                font-size: 28px 
            }
        }
        /*..............end media.............*/
    }
    /*  ---- end logo ---  */ 



.sideNav {
    @include position(fixed, 0, auto, 0, 0);
    width: 240px;
    background-color: #0CAFD0;
    z-index: 1000;

    /*.................media.............*/
    @include m1000 {
        width: 100%;
        @include transition(all, .2s);
        left: -100%;
        overflow: scroll;
        &.active {
            left: 0;
        }
    }
    /*..............end media.............*/

    ul {
        list-style-type: none;
        position: relative;
        width: 100%;
        margin: 0;
        height: 100%;
        li {
            display: block;
            text-align: left;
            @include transition(all, .2s);
            height: 60px;
            border: none;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            &.hasUl> a {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 12px;
                    background-image: url("../images/arrow.svg");
                    background-repeat: no-repeat;
                    @include position(absolute, 0, 40px, 0, auto);
                    margin: auto;
                    @include transition(all, .2s);
                }
            }
            &:hover {
                > a:after {
                    right: 30px;
                }
            }
            a {
                color: #FFF;
                font-family: $nsw;
                display: inline-block;
                max-width: 97%;
                width: 100%;
                line-height: 60px; 
            }
            ul { /*  ---- ul inside li on every level ---  */ 
                width: 220px;
                padding-top: 195px;
                position: absolute;
                top: 0; bottom: 0;
                -webkit-transition: left 0s, opacity .2s;
                   -moz-transition: left 0s, opacity .2s;
                    -ms-transition: left 0s, opacity .2s;
                     -o-transition: left 0s, opacity .2s;
                        transition: left 0s, opacity .2s;
                li {
                    padding-left: 35px;
                    &:hover {
                        padding-left: 45px;
                    }
                }
                /*.................media.............*/
                @include mh850 {
                   padding-top: 140px  
                }
                @include mh700 {
                   padding-top: 120px  
                }
                 @include m1000 {
                    width: 100%;
                    padding-top: 70px; 
                }
                /*..............end media.............*/
            }
            @media (min-width: 1000px) {
                &:hover { /*  ---- show first level menu ---  */ 
                    ul.secondLevel {
                        top: 0%;
                        opacity: 1;
                    }
                }
            }
            @include mh900 {
                height: 50px;
                a {
                    line-height: 50px; 
                }
            }
            @include mh700 {
                height: 45px;
                font-size: 14px ;
                a {
                    line-height: 45px; 
                }
            }
        }
        

        /*  ---- first level menu ---  */ 
        &.firstLevel {
            text-align: center;
            padding-top: 196px;
            z-index: 1; 
            > li {
                padding-left: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, .4);
                &:last-of-type {
                    border: none;
                }
                &:hover {
                    padding-left: 50px;
                }
            }

            &.blur {  /*  ---- languages on hover ---  */ 
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0; top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, .5);
                    z-index: 2;
                }
            }
            /*.................media.............*/
            @include mh850 {
               padding-top: 140px  
            }
            @include mh700 {
               padding-top: 120px  
            }
            @include m1000 {
                padding-top: 70px; 
            }
            /*..............end media.............*/
        }
        /*  ---- end first level menu ---  */ 
        
        /*  ---- second level menu ---  */ 
        &.secondLevel {
            left: 100%;
            opacity: 0;
            top: -100%;
            z-index: 2; 
            background-color: rgba(5, 64, 106, .9);
            ul.thirdLevel {
                opacity: 0;
                left: 100%;
                top: -100%;
                z-index: 4; 
                background-color: rgba(1, 32, 53, .9);
            }
            li.hasUl a {
                &:after {
                    @include position(absolute, 0, auto, 0, -20px);
                }
            }
            li.hasUl:hover {
                > a:after {
                    right: auto;
                }
            }
            /*.................media.............*/
            @include m1000 {
               left: 0%;
               background-color: rgba(5, 64, 106, 1);
               padding-top: 70px; 
               ul.thirdLevel {
                  left: 0%;
                  padding-top: 70px; 
                   background-color: rgba(1, 32, 53, 1);
               }
            }
            /*..............end media.............*/
        }
         &.secondLevel {
             z-index: 3; 
         }
         @media (min-width: 1000px) {
            &.secondLevel {
                li:hover {
                    ul.thirdLevel {
                        top: 0%;
                        opacity: 1;
                    }   
                }
            }
        }
        /*  ---- end second level menu ---  */ 
    }
}

.backMenu {
    display: none !important;
    a {
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 8px;
            height: 12px;
            background-image: url("../images/arrow.svg");
            background-repeat: no-repeat;
            @include position(absolute, 0, 40px, 0, auto);
            left: -20px;
            right: auto;
            top: 0;
            bottom: 0;
            margin: auto;
            @include transition(all, .2s);
            -webkit-transform: rotate(180deg); 
            -moz-transform: rotate(180deg); 
            -ms-transform: rotate(180deg); 
            -o-transform: rotate(180deg); 
            transform: rotate(180deg); 
        }
    }
    /*.................media.............*/
    @include m1000 {
        display: block !important;
    }
    /*..............end media.............*/
}

.shown {
    opacity: 1 !important;
    top: 0 !important;
    left: 0; 
}

.indexPage {
    .sideNav {
        background: #0C80D1 !important;
    }
    .button {
        background-color: #0C80D1 !important;
    }
}

.lang {
    background-color: #FFF;
    text-align: center;
    display: inline-block;
    width: 40px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    top: 100%;
    margin-top: -20px;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    a {
        line-height: 40px;
        font-family: $nsw;
        display: block;
        width: 40px;
        color: #19B5D4;
        display: none;
        &:first-child {
            display: block;
        }
        &.selected {
            color: #FF5600;
        }
    }
    &:hover {
        background-color: #C1F5FF;
        a {
            display: block;
        }
    }
    /*.................media.............*/
    @include m1000 {
        right: 15px;
        top: 5px; left: auto;
        margin: auto; 
    }
    /*..............end media.............*/
}

.searchInput {
    height: 60px;
    background-color: rgba(255,255,255, .2);
    line-height: 60px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
    @include transition(all, .2s);
    margin-top: 40px;
    .wrap {
        position: relative;
        height: 100%;
    }
    input {
        background: none;
        border: none;
        color: #FFF;
        height: 20px;
    }
    input[type="submit"] {
        height: 20px;
        width: 16px;
        display: inline-block;
        color: red;
        z-index: 2;
        margin-top: 20px;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        text-indent: -10000px;
        border: none;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all .2s ease;
        margin-left: -20px;
    }
    input[type="search"] {
        width: 20px;      
        font: 14px $ns;
        margin-top: 20px;
        position: relative;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
        &:focus {
          width: 80%;
          z-index: 1;
          border-bottom: 1px solid rgba(255,255,255, .4);
          cursor: text;  
          +  input[type="submit"] {
              z-index: 4;
              margin-left: 0px;
          }
        }
    }
    &:hover input[type="search"] {
        width: 80%;
          z-index: 1;
          border-bottom: 1px solid rgba(255,255,255, .4);
          cursor: text;  
          +  input[type="submit"] {
              z-index: 4;
              margin-left: 0px;
          }
    }
    @include mh750 {
       margin-top: 10px ;
       height: 50px 
    }
}

.sideNav {
    color: #FFF;
    .tel {
        margin-top: 40px;
        width: 100%;
        text-align: center;
        color: #FFF;
        display: block;
        font: 18px $nsm;
        @include mh750 {
           margin-top: 20px ;
        }
    }
}

.navSocial {
    margin-top: 20px;
    @include flex($justify: center);
    a {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin: 0 12px;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    &__fb {
        width: 12px;
        height: 20px;
        background-image: url("../images/fb.svg");
    }
    &__tw {
        width: 21px;
        height: 16px;
        background-image: url("../images/tw.svg");
    }
    &__in {
        width: 19px;
        height: 19px;
        background-image: url("../images/inst.svg");
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 35px;
    height: 25px;
    position: absolute;
    left: 15px;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    border: none;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 100%;
        height: 4px;
        background-color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 0px;  margin: auto;}
    .middle_line           {   top: 11px;  margin: auto;}
    .bottom_line           {   bottom: 0px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 39%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 

.offer {
    background-repeat: no-repeat;
    margin-bottom: 40px;
        background-position: 0 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    height: 560px;
    text-align: center;
    @include m1000 {
        height: auto;
        padding: 60px 0 80px;
        min-height: 400px; 
        background-position: 50% 50%;
        &--slider {
            min-height: 0px; 
            padding: 0; 
        } 
    }
    @include m600 {
        padding: 40px 10px;
        min-height: 300px; 
        &--slider {
            padding: 0;
            min-height: 0px;  
        } 
    }
    @include m400 {
       background-position: 75% 50%;
    }
    &:not(.offer--slider) {
        @include flex($direction: column, $justify: center);
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }
    > h1 {
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        display: inline-block;
        vertical-align: middle;
        &.noShadow {
            text-shadow: none
        }
    }
    > p {
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        &.noShadow {
            text-shadow: none
        }
    }
    h1,
    h2 {
        color: #FFF;
        font-size: 36px;
        font-family: $nswb;
        &.animated {
            -webkit-animation-delay: .3s; 
            -moz-animation-delay: .3s; 
            -o-animation-delay: .3s; 
            animation-delay: .3s; 
        }
    }
    p + h1,
    p + h2 {
        &.animated {
            -webkit-animation-delay: 2s; 
            -moz-animation-delay: 2s; 
            -o-animation-delay: 2s; 
            animation-delay: 2s; 
        }
    }
    p {
        font: 22px $nsw;
        color: #FFF;
        &.animated {
            -webkit-animation-delay: .5s; 
            -moz-animation-delay: .5s; 
            -o-animation-delay: .5s; 
            animation-delay: .5s; 
        }
    }
    &__slide {
        display: flex !important;
        display: -webkit-flex !important;
        @include flex($direction: column, $justify: center);
        height: 100%;
        width: 100%;
        text-align: center;
        background-image: url("../images/banner-main-page.jpg");
        background-repeat: no-repeat;
        background-position: 0 100%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        .button {
            margin: 55px auto;
        }
    }

    .button {
        &.animated {
            -webkit-animation-delay: 3s; 
            -moz-animation-delay: 3s; 
            -o-animation-delay: 3s; 
            animation-delay: 3s; 
        }
    }

     /*.................media.............*/

    @include m1000 {
        &__slide {
            padding: 80px 40px; 
            min-height: 400px; 
            background-position: 50% 50%;
        }
        h1,
        h2 {
            font-size: 32px; 
        }
        p {
            font-size: 20px;
        }
    }
    @include m500 {
        &__slide {
            padding: 40px 20px 60px;
            background-position: 75% 50%; 
        }
        h1,
        h2 {
            font-size: 28px; 
        }
        p {
            font-size: 18px;
        }
    }
    @include m360 {
        h1,
        h2 {
            font-size: 26px; 
        }
        p {
            font-size: 18px;
        }
    }
    /*..............end media.............*/
}


.offerLogo {
    display: block;
    margin: 20px auto;
    max-width: 300px;  
    @include m600 {
        max-width: 200px; 
    }
}


.slick-dots {
    bottom: 100px;
    margin: 0;
    z-index: 2;
    li {
        width: 12px; height: 12px;
        background-color: #FFF;
        margin: 0 7px;
        -webkit-border-radius: 50% 50%;
                border-radius: 50% 50%;
        &.slick-active {
            background-color: $blue;
        }
        * {
            display: none;
        }
    }
    @include m1000 { 
        bottom: 60px;
    }

     -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
        -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-delay: 1s; 
      -moz-animation-delay: 1s; 
      -o-animation-delay: 1s; 
      animation-delay: 1s; 
}
.slowShow {
    .slick-dots {
         -webkit-animation-delay: 3s; 
      -moz-animation-delay: 3s; 
      -o-animation-delay: 3s; 
      animation-delay: 3s; 
    }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.oneSec {
      -webkit-animation-delay: 1s; 
      -moz-animation-delay: 1s; 
      -o-animation-delay: 1s; 
      animation-delay: 1s; 
}
.twoSec {
      -webkit-animation-delay: 2s; 
      -moz-animation-delay: 2s; 
      -o-animation-delay: 2s; 
      animation-delay: 2s; 
}
.threeSec {
      -webkit-animation-delay: 3s; 
      -moz-animation-delay: 3s; 
      -o-animation-delay: 3s; 
      animation-delay: 3s; 
}
.fourSec {
      -webkit-animation-delay: 4s; 
      -moz-animation-delay: 4s; 
      -o-animation-delay: 4s; 
      animation-delay: 4s; 
}

.button {
    background-color: #0CAFD0;
    height: 45px;
    padding: 0 45px;
    color: #FFF;
    font: 18px $ns;
    border: none;
    position: relative;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 248px;
        height: 120px;
        z-index: -2;
        background-image: url("../images/button-shadow.png");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    &--light {
        background-color: transparent;
        border: 1px solid #0CB0D1;
        color: #0CB0D1;
        &:after {
            display: none;
        }
    }
}



/*=====================================================================================*/
/*  STYLES  */ 


/*decorative animals before sections*/
.pre-dog {
    position: relative;

    &:before {
        content: '';
        width: 87px;
        height: 70px;
        position: absolute;
        left: 50%;
        margin-left: -44px;
        top: -122px;
        background-image: url(../images/pre-dog.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
.pre-bird {
    position: relative;

    &:before {
        content: '';
        width: 74px;
        height: 70px;
        position: absolute;
        left: 50%;
        margin-left: -37px;
        top: -130px;
        background-image: url(../images/pre-bird.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
.pre-cat {
    position: relative;

    &:before {
        content: '';
        width: 61px;
        height: 70px;
        position: absolute;
        left: 50%;
        margin-left: -32px;
        top: -130px;
        background-image: url(../images/pre-cat.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}





