/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/settings';
@import 'base/mixins';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/

@import 'parts/brands';
@import 'parts/related-news';
@import 'parts/your-animal';
@import 'parts/footer';

@import 'parts/page-contatcs';
@import 'parts/contacts-form';

@import 'parts/page-about';

@import 'parts/articles';
@import 'parts/article';

@import 'parts/partnership';

@import 'parts/page-career';

@import 'parts/page-faq';

@import 'parts/page-team';
/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);     
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


body {
    padding-left: 240px;
}

/*=====================================================================================*/
/*  NAVIGATION STYLES  */ 
.indexPage {
    .sideNav {
        background: $blue;
    }
    .button {
        background-color: $blue;
    }
}

.sideNav {
    @include position(fixed, 0, auto, 0, 0);
    width: 240px;
    background-color: #0CAFD0;
    z-index: 1000;
    
    /*  ---- logo ---  */ 
    .logo {
        height: 150px;
        background-color: #FF5600;
        text-align: center;
        position: relative;
        z-index: 3;
        margin-bottom: 50px;
        box-shadow: 0px 10px 18px rgba(0,0,0, .2);
        span {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            color: #FFF;
            font: 40px $nsb;
            text-transform: uppercase;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            height: 100%;
            margin-right: -3px;
            content: '';
        }
    }
    /*  ---- end logo ---  */ 

    

    ul {
        list-style-type: none;
        position: relative;
        width: 100%;
        margin: 0;
        height: 100%;
        li {
            display: block;
            text-align: left;
            @include transition(all, .2s);
            height: 60px;
            border: none;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            &.hasUl> a {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 12px;
                    background-image: url("../images/arrow.svg");
                    background-repeat: no-repeat;
                    @include position(absolute, 0, 40px, 0, auto);
                    margin: auto;
                    @include transition(all, .2s);
                }
            }
            &:hover {
                > a:after {
                    right: 30px;
                }
            }
            a {
                color: #FFF;
                font-family: $nsw;
                display: inline-block;
                max-width: 97%;
                width: 100%;
            }
            ul { /*  ---- ul inside li on every level ---  */ 
                width: 220px;
                padding-top: 195px;
                position: absolute;
                top: 0; bottom: 0;
                -webkit-transition: left 0s, opacity .2s;
                   -moz-transition: left 0s, opacity .2s;
                    -ms-transition: left 0s, opacity .2s;
                     -o-transition: left 0s, opacity .2s;
                        transition: left 0s, opacity .2s;
                li {
                    padding-left: 35px;
                    &:hover {
                        padding-left: 45px;
                    }
                }
            }
            &:hover { /*  ---- show first level menu ---  */ 
                ul.secondLevel {
                    top: 0%;
                    opacity: 1;
                }
            }
        }
        

        /*  ---- first level menu ---  */ 
        &.firstLevel {
            text-align: center;
            > li {
                padding-left: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, .4);
                &:last-of-type {
                    border: none;
                }
                &:hover {
                    padding-left: 50px;
                }
            }

            &.blur {  /*  ---- languages on hover ---  */ 
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0; top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, .5);
                    z-index: 2;
                }
            }
        }
        /*  ---- end first level menu ---  */ 
        
        /*  ---- second level menu ---  */ 
        &.secondLevel {
            left: 100%;
            opacity: 0;
            top: 100%;
            background-color: rgba(5, 64, 106, .9);
            ul.thirdLevel {
                opacity: 0;
                left: 100%;
                background-color: rgba(1, 32, 53, .9);
            }
            li.hasUl a {
                &:after {
                    @include position(absolute, 0, auto, 0, -20px);
                }
            }
            li.hasUl:hover {
                > a:after {
                    right: auto;
                }
            }
        }
        &.secondLevel {
            li:hover {
                ul.thirdLevel {
                    top: 0%;
                    opacity: 1;
                }   
            }
        }
        /*  ---- end second level menu ---  */ 
    }
}


.lang {
    background-color: #FFF;
    text-align: center;
    display: inline-block;
    width: 40px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    top: 100%;
    margin-top: -20px;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    a {
        line-height: 40px;
        font-family: $nsw;
        display: block;
        width: 40px;
        color: #19B5D4;
        display: none;
        &:first-child {
            display: block;
        }
        &.selected {
            color: #FF5600;
        }
    }
    &:hover {
        background-color: #C1F5FF;
        a {
            display: block;
        }
    }
}

.searchInput {
    height: 60px;
    background-color: rgba(255,255,255, .2);
    line-height: 60px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
    @include transition(all, .2s);
    margin-top: 40px;
    .wrap {
        position: relative;
        height: 100%;
    }
    input {
        background: none;
        border: none;
        color: #FFF;
        height: 20px;
    }
    input[type="submit"] {
        height: 20px;
        width: 16px;
        display: inline-block;
        color: red;
        z-index: 2;
        margin-top: 20px;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        text-indent: -10000px;
        border: none;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all .2s ease;
        margin-left: -20px;
    }
    input[type="search"] {
        width: 20px;      
        font: 14px $ns;
        margin-top: 20px;
        position: relative;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
        &:focus {
          width: 80%;
          z-index: 1;
          border-bottom: 1px solid rgba(255,255,255, .4);
          cursor: text;  
          +  input[type="submit"] {
              z-index: 4;
              margin-left: 0px;
          }
        }
    }
}

.sideNav {
    color: #FFF;
    .tel {
        margin-top: 40px;
        width: 100%;
        text-align: center;
        color: #FFF;
        display: block;
        font: 18px $nsm;
    }
}

.navSocial {
    margin-top: 20px;
    @include flex($justify: center);
    a {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin: 0 12px;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    &__fb {
        width: 12px;
        height: 20px;
        background-image: url("../images/fb.svg");
    }
    &__tw {
        width: 21px;
        height: 16px;
        background-image: url("../images/tw.svg");
    }
    &__in {
        width: 19px;
        height: 19px;
        background-image: url("../images/inst.svg");
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 

.offer {
    background-repeat: no-repeat;
    margin-bottom: 40px;
        background-position: 0 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    height: 560px;
    text-align: center;
    &:not(.offer--slider) {
        @include flex($direction: column, $justify: center);
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }
    > h1 {
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        display: inline-block;
        vertical-align: middle;
    }
    > p {
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
    h1,
    h2 {
        color: #FFF;
        font-size: 36px;
        font-family: $nswb;
    }
    p {
        font: 22px $nsw;
        color: #FFF;
    }
    &__slide {
        display: flex !important;
        display: -webkit-flex !important;
        @include flex($direction: column, $justify: center);
        height: 100%;
        width: 100%;
        text-align: center;
        background-image: url("../images/banner-main-page.jpg");
        background-repeat: no-repeat;
        background-position: 0 100%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        .button {
            margin: 55px auto;
        }
    }
}


.slick-dots {
    bottom: 100px;
    margin: 0;
    z-index: 2;
    li {
        width: 12px; height: 12px;
        background-color: #FFF;
        margin: 0 7px;
        -webkit-border-radius: 50% 50%;
                border-radius: 50% 50%;
        &.slick-active {
            background-color: $blue;
        }
        * {
            display: none;
        }
    }
}


.button {
    background-color: #0CAFD0;
    height: 45px;
    padding: 0 45px;
    color: #FFF;
    font: 18px $ns;
    border: none;
    position: relative;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 248px;
        height: 120px;
        z-index: -2;
        background-image: url("../images/button-shadow.png");
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
    &--light {
        background-color: transparent;
        border: 1px solid #0CB0D1;
        color: #0CB0D1;
        &:after {
            display: none;
        }
    }
}



/*=====================================================================================*/
/*  STYLES  */ 








