/*=====================================================================================*/
/*  NEWS PAGE STYLES  */ 

.articles {
	 @include flex($wrap: wrap, $justify: center);
	 width: 850px;
	 margin: -20px auto 0;  
	 @include transition(all, .2s);
	 &__item {
	 	width: 255px;
	 	margin: 0 10px 20px;
	 	background-color: #0CB0D1; 
	 	text-align: left;
	 	color: #FFF;
	 	header {
	 		height: 186px;
	 		position: relative;
	 		padding: 20px;
	 		img {
	 			position: absolute;
	 			left: 0;
	 			top: 0;
	 			top: 0;
	 			bottom: 0;
	 			margin: auto;
	 			min-width: 100%;
	 			min-height: 100%;  
	 		}
	 		p {
	 			font: 18px $nsw;
	 			color: #fff;
	 			opacity: 0 
	 		}
	 	}
	 	&__info {
	 		padding: 20px;
	 		color: #FFF;
	 		time {
	 			font: 12px $nsw; 
	 		}
	 		h3 {
	 			font: 18px $nswb; 
	 		} 
	 	}
	 	&:hover {
	 		background-color: #FF5600; 
	 	}
	 	&:hover header p {
	 		opacity: 1 
	 	}
	 } 
}