.article {
	article {
		padding: 22px 135px 170px;
		font-size: 20.32px;
		color: #666;
		line-height: 30.48px;
	}

	h2 {
		font-size: 30.48px;
		margin-bottom: 15px;
	}

	&--news {
		padding-top: 30px;

		article {
			text-align: left;
		}

		p:not(:last-of-type) {
			margin-bottom: 50px;
		}

		h2 {
			margin-bottom: 30px;
		}
	}
}