.products-categries {
	margin-top: -60px;
	padding-bottom: 180px;
}
.products-box {
	width: 110%;
	margin-left: -5%;  
	@include flex($wrap: wrap, $justify: center);

	@media (max-width: 1350px) {
		width: 100%;
		margin-left: 0;
	}

	&__item {
		width: 255px;
		height: 160px;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		margin: 0 10px; 

		@media (max-width: 1350px) {
			margin-bottom: 20px;
		}

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 5px;
			z-index: 0;
			top: 0;
			left: 0;
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
		 		 -o-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}

		.link-text {
			background-color: $blue;
			color: #fff;
			position: absolute;
			z-index: 2;
			bottom: 0;
			font-size: 20.32px;
			font-family: $nswb;
			width: 100%;
			left: 0;
			right: 0;
			text-align: left;
			padding: 8px 10px 10px 25px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			-webkit-transition: all 0.3s ease;
			 	 -o-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}

		&:hover {
			.link-text {
				background-color: $orange;
			}

			&:after {
				opacity: 0.4;
				visibility: visible;
			}
		}

	}
}



.products__header {
	text-align: center;
	padding: 30px 0 220px;
	
	h1 {
		font-size: 36.07px;
		font-family: $nsb;
		color: #000;
	}
	@include m1000 {
		padding-top: 70px 
	}
}

.breadcrumbs {
	margin: 28px 0 0;
	padding: 0;
	text-align: center;

	li {
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		font-family: $ns;
		font-size: 16px;

		&:not(:last-child):after {
			content: ' / ';
			font-family: $ns;
			font-size: 16px;
			color: #aaa;
		}

		a {
			color: #aaa;

			&:hover span {
				text-decoration: underline;
			}
		}
	}
	&--white {
		li {
			a {
				color: #FFCAAF;
			}
			&:not(:last-child):after {
					color: #FFCAAF; 
				}
		}
	}
}


.product-box {
	padding: 0 135px 150px;

	@media (max-width: 1350px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.product__features {

	&__preview,
	&__list {
		width: 50%;
		display: inline-block;
		margin: 0 -2px;
		vertical-align: top;
		margin-bottom: 125px;
		@include m750 {
			width: 100%;
		}
	}

	&__preview {
		padding-right: 10px;
		img {
			max-width: 95%;
		}
		@include m750 {
			margin-bottom: 25px; 
		}
	}

	&__list {
		color: #4a4a4a;
		text-align: left;
		padding-left: 50px;
		
		@include m750 {
			padding-left: 0; 
			margin-bottom: 55px; 
		}

		.title {
			font-family: $nsb;
			font-size: 20px;
		}

		ul {
			margin: 21px 0 0;
		}

		li {
			list-style: none;
			font-size: 15px;
			font-family: $ns;
			line-height: 30px;

			&:before {
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				vertical-align: middle;
				display: inline-block;
				background-color: #4a4a4a;
				margin-right: 5px;
			}
		}
	}
}

.product__general {
	font-family: $ns;
	font-size: 15px;
	line-height: 30px;
	color: #4a4a4a;

	.title {
		font-family: $nsb;
		font-size: 20px;
	}
}