/*=====================================================================================*/
/*  PARTNERSHIP PAGE STYLES  */ 

.partners {
	width: 810px;
	margin: -60px auto 0;  
	&__item {
		width: 100%;
		padding: 40px;
		position: relative;
		text-align: left; 
		margin-bottom: 20px;
		-webkit-border-radius: 4px; 
		 border-radius: 4px;  
		background-color: #EEE; 
		img {
			position: absolute;
			right: 0;
			top: 0;
			bottom:0;
			left: auto;
			margin: auto;
			min-height: 100%;  
			max-height: 100%;
			overflow: hidden 
		}
		&__info {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			z-index: 2; 
			width: 340px; 
			h3 {
				margin-top: 25px;
				font: 20px $nswm;  
				color: #000; 
			}
			p {
				margin-top: 15px; 
				font: 18px $nswm; 
				color: #333;  
			}
			button {
				margin-top: 25px; 
			}
		}
	}
}