.popup {
	width: 300px;
	margin: 0 auto;
	border-radius: 5px;
	overflow-x: hidden;
	background-color: #fff;
	padding: 40px 20px;

	form {
		padding-left: 0;
		padding-right: 0;
		.input {
			width: 100%;
		}
	}
}