.news-box {
	padding: 0 115px;
	@include flex();

	@media (max-width: 1350px) {
		padding: 0;
	}

	&__item {
		width: 33.3333%;
		padding: 0 15px;
		text-align: left;
		/*.................media.............*/
        @include m750 {
           width: 100%;
        }
	}
	@include m750 {
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
    }
}


.related-news {
	padding-bottom: 185px;
	
	.news-box__item {
		&__preview {
			margin-bottom: 22px;
			text-align: center;

			img {
				max-width: 100%;
			}
			/*.................media.............*/
	        @include m750 {
	           float: left;
	           margin: 0 20px 0px 0; 
	           width: 40%;
	        }
	        @include m400 {
	           float: none;
	           width: 100%;
	           margin-bottom: 20px; 
	        }
		}
		
		&__text {
			padding-left: 22px;

			@media (max-width: 1350px) {
				padding: 0 10px;
			}

			h3 {
				color: #000;
				font-size: 20.32px;
				font-family: $nswb;
				font-weight: normal;
				margin-bottom: 10px;
			}
			p {
				color: #666;
				font-size: 15.24px;
			}
		}
	    @include m750 { 
           margin-bottom: 40px; 
        }
	}
}