// COLORS
// ---------------------------


// FONTS
// ---------------------------
$nos:				'Noto Sans';

$ns:				'Neo Sans Pro Regular';
$nsb:				'Neo Sans Pro Bold';
$nsm:				'Neo Sans Pro Medium';

$nsw:				'Neo Sans W1G Regular';
$nswb:				'Neo Sans W1G Bold';

// RESPONSIVE
// ---------------------------
$desktop:			'min-width: 1101px';
$tablets:			'max-width: 1100px';
$phones: 			'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $nsw;
	font-size: 20.32px;
	color: #666666;
}

h1,
h2,
h3,
h4,
h5 {

}
.white {
	color: #FFF;
}




// lAYOUT
// ---------------------------

.wrapper {
	width: 1080px;
	margin: 0 auto;
    text-align: center;
}
